.header-page {
	background-image: linear-gradient(
			hsla(211, 48%, 0%, 0.9),
			hsla(30, 47%, 12%, 0.8)
		),
		url(../images/header-page--1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 60rem;
	position: relative;
	z-index: 0;
	padding-top: 8rem;
	display: flex;
	align-items: center;

	@include respond(phone-land) {
		min-height: 45rem;
	}

	&__content {
		text-align: center;
	}

	&__paragraph {
		color: white;
	}
}
